th,td{
    padding: 15px;
    border-bottom: 1px solid black;
}
.list{
    font-size: 30px;
    margin:1%;
}
.pag{
    font-size: 18px;
    margin:1%;
}
.proxp{
    float: right;
}    
table{
    border-collapse: collapse;
}
main{
    margin-top:5%;
    display: flex;
    justify-content: center;
}