*{
    margin: 0;
}
.list{
    margin: 1%;
    font-size: 30px;
}
.pag{
    margin: 1%;
    font-size: 18px;
}
.proxp{
    margin: 1%;
    float: right;
}
.header{
    width:100%;
    background-color:rgb(205,67,72);
    height: 70px;
}  
.aside{
    width:30%;
    height: 700px;
    background-color:rgb(204,145,147);
    float:left;
    
} 
.cont{
    width: 70%;
    height: 700px;
    background-color:rgb(116, 52, 54);
    float:right;
}
.footer{
    width:100%;
    background-color:rgb(157, 60, 63);
    height: 50px;

}