*{
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
    display:flex;
}
body{
    margin:2%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px black;                       
}
header{
    height: 30vh;
    display: contents;
    background-color: black;
}

main{
    padding: 2%;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "t1 t3"
                            "t2 t3";
    background-color: rgb(238, 238, 238);
}

nav{
    display:flex;
    justify-content: space-between;
    background-color: rgb(64,72,83);
    color: rgb(162,163,165);
}
.bl{
    display: contents;
}
.t1{
    grid-area: t1;
    height:100%;
}
.t2{
    grid-area: t2;
    height:100%;
}
.t3{
    grid-area: t3;
    height:100%;
}